Package: libwlmio
Version: 1.1.0-1
Section: base
Priority: optional
Architecture: any
Depends: python3
Maintainer: Kelsey Maes <kelsey@vpprocess.com>
Description: Support for the Widgetlord WL-MIO system
