Source: libwlmio
Maintainer: Kelsey Maes <kelsey@vpprocess.com>
Section: utils

Package: libwlmio
Priority: optional
Architecture: any
Depends: python3
Description: Support for the Widgetlord WL-MIO system
 Includes supporting tools.
